# Compiled Object files
**/.DS_Store
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.idea

# Executables
*.exe
*.out
*.app

#
**/cmake-build-debug
**/glfw

include/divisible/*


## Local

.idea/*.xml

build/**/*

include/*
lib/*
bin/*
test/test_runner
cmake-build-release/assimp/CMakeFiles/

cmake-build-release/
